In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
dataset = pd.read_csv("final_stroke_dataset.csv")

X = dataset.loc[:,["gender","age","hypertension","heart_disease","ever_married","work_type","Residence_type","avg_glucose_level","bmi","smoking_status"]]
y = dataset.loc[:,"stroke"]

In [3]:
X

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,Male,67.0,No,Yes,Yes,Private,Urban,228.69,36.6,formerly smoked
1,Female,61.0,No,No,Yes,Self-employed,Rural,202.21,28.1,never smoked
2,Male,80.0,No,Yes,Yes,Private,Rural,105.92,32.5,never smoked
3,Female,49.0,No,No,Yes,Private,Urban,171.23,34.4,smokes
4,Female,79.0,Yes,No,Yes,Self-employed,Rural,174.12,24.0,never smoked
...,...,...,...,...,...,...,...,...,...,...
5105,Female,80.0,Yes,No,Yes,Private,Urban,83.75,28.1,never smoked
5106,Female,81.0,No,No,Yes,Self-employed,Urban,125.20,40.0,never smoked
5107,Female,35.0,No,No,Yes,Self-employed,Rural,82.99,30.6,never smoked
5108,Male,51.0,No,No,Yes,Private,Rural,166.29,25.6,formerly smoked
5109,Female,44.0,No,No,Yes,Govt_job,Urban,85.28,26.2,Unknown

In [4]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
import xgboost as xgb

In [5]:
from sklearn import pipeline
from sklearn_pandas import DataFrameMapper



m = DataFrameMapper([(["gender"],LabelEncoder()),(["hypertension"],LabelEncoder()),
                     (["heart_disease"],LabelEncoder()),(["ever_married"],LabelEncoder()),
                     (["work_type"],LabelEncoder()),(["Residence_type"],LabelEncoder()),
                     (["smoking_status"],LabelEncoder()),(["age","bmi","avg_glucose_level"],StandardScaler())])

main_model = pipeline.Pipeline([('mapper',m),('model',xgb.XGBClassifier())])

main_model.fit(X,y)

/Users/irfana/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/Users/irfana/opt/anaconda3/lib/python3.8/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[13:47:33] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

Pipeline(steps=[('mapper',
                 DataFrameMapper(drop_cols=[],
                                 features=[(['gender'], LabelEncoder()),
                                           (['hypertension'], LabelEncoder()),
                                           (['heart_disease'], LabelEncoder()),
                                           (['ever_married'], LabelEncoder()),
                                           (['work_type'], LabelEncoder()),
                                           (['Residence_type'], LabelEncoder()),
                                           (['smoking_status'], LabelEncoder()),
                                           (['age', 'bmi', 'avg_glucose_level'],
                                            StandardScaler()...
                               colsample_bytree=1, gamma=0, gpu_id=-1,
                               importance_type='gain',
                               interaction_constraints='',
                               learning_rate=0.300000012, max_delta_step=0,
                               max_depth=6, min_child_weight=1, missing=nan,
                               monotone_constraints='()', n_estimators=100,
                               n_jobs=4, num_parallel_tree=1, random_state=0,
                               reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
                               subsample=1, tree_method='exact',
                               validate_parameters=1, verbosity=None))])

In [6]:
import pickle
f1 = open("stroke-model.pkl",mode="wb")
pickle.dump(main_model,f1)
f1.close()

In [34]:
new = X.sample(n=100)

main_model.predict(new)

/Users/irfana/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/Users/irfana/opt/anaconda3/lib/python3.8/site-packages/xgboost/data.py:112: UserWarning: Use subset (sliced data) of np.ndarray is not recommended because it will generate extra copies and increase memory consumption
  warnings.warn(

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [30]:

temp={}
temp['gender']="male"
temp['Age']=30
temp['hypertension']='yes'
temp['heartdisease']='yes'
temp['work type']="private"
temp['Ever_Married']='yes'
temp['avg_glucose_level']=220
temp['BMI']=40
temp['smoking_status']="smokes"

In [31]:
test=pd.DataFrame({'x':temp})

In [32]:
test.transpose()

,Age,BMI,Ever_Married,avg_glucose_level,gender,heartdisease,hypertension,smoking_status,work type
x,30,40,yes,220,male,yes,yes,smokes,private